@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
}

.main {
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    height: 100vh;
    flex: 1;
}

.sidebar {
    width: 250px;
    padding: 40px;
    border-right: 1px #e2e8f0 solid;
    flex-shrink: 0;
}

    .sidebar p {
        font-weight: 300;
        color: #64748b;
        margin-bottom: 30px;
    }

.nav-item {
    padding: 15px;
    border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 12px;
}

    .nav-item a {
        text-decoration: none;
    }

    .nav-item:hover {
        cursor: pointer;
        background-color: #e2e8f0;
        color: white;
    }
    

.nav-item-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav-title {
    font-size: medium;
    color: black;
    font-weight: 700;
}

.nav-subtitle {
    color: #64748b;
}

